{% set pageName = 'finish' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.InformationSourcesViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

      {% include "_phasebanner.njk" %}

      {% include "_breadcrumbpanel.njk" %}

    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">@Model.InformationSource1Heading</h1>
          <h2 class="govuk-heading-l">@Model.InformationSource1Description</h2>
          <div class="govuk-body">
            <p>@Model.Feedback1</p>
            <p>@Model.Feedback2 <a href="@Model.FeedbackFormLink">@Model.FeedbackFormLinkText</a> to send us your feedback.</p>
          </div>

        </div>

      </div>
    </div>

  </main>

{% endblock %}
