{% set pageName = 'finish' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.InformationSourcesViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">

    {% include "_phasebanner.njk" %}

    {% include "_breadcrumbpanel.njk" %}

  </div>

  <main id="content" role="main">

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Information sources</h1>
          <h2 class="govuk-heading-l">@Model.InformationSource1Heading</h2>
          <div class="govuk-body">
            <p>@Model.InformationSource1Description</p>
          </div>
          
          <div class="gov-body">
              <p>@Model.Feedback1 <a href="@Model.FeedbackFormLink">@Model.FeedbackFormLinkText</a> @Model.Feedback2</p>
          </div>  
        </div>

      </div>
    </div>

  </main>

{% endblock %}
