{% set pageName = 'finish' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.FinishViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

      {% include "_phasebanner.njk" %}

      {{ govukBackLink({
        text: "Back to the start",
        href: "/"
      }) }}

    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <div class="govuk-panel__body">
             <div class="ncs-progress ncs-progress--complete status-100">
                <div class="ncs-progress__count">
                  <span class="govuk-!-font-size-36">100%</span>
                  <span class="visually-hidden">Complete</span>
                </div>
                <div class="ncs-progress__bar">
                  <span style="width: 100%"></span>
                </div>
              </div>
            </div>
            <h1 class="govuk-panel__title">
              @Model.Headline
            </h1>
          </div>

          <h2 class="govuk-heading-m">@Model.ContentTitle</h2>
          <p class="govuk-body govuk-!-margin-bottom-5">@Model.Content</p>

          {{ govukButton({
          text: "@Model.ViewResultsButtonText",
          href: "/results",
          classes: "app-button",
          attributes: {
          "gov-analytics-data": pageName + " | click | button | View results"
          }
          }) }}

        </div>
      </div>
    </div>

  </main>

{% endblock %}
