{% set pageName = 'finish' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.FinishViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

      {% include "_phasebanner.njk" %}

      {{ govukBackLink({
        text: "Back to results",
        href: "/results/"
      }) }}

    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">

          {{ govukPanel({
            titleText: "@Model.Headline",
            classes: "govuk-!-margin-bottom-6"
          }) }}

          <h2 class="govuk-heading-m">@Model.ContentTitle</h2>
          <p class="govuk-body govuk-!-margin-bottom-5">@Model.Content</p>

          {{ govukButton({
          text: "@Model.ViewResultsButtonText",
          classes: "app-button",
          href: "/results/@Model.JobCategorySafeUrl",
          attributes: {
          "gov-analytics-data": pageName + " | click | button | View results"
          }
          }) }}

        </div>
      </div>
    </div>

  </main>

{% endblock %}
