{% set pageName = 'questions' %}
{% set pageGroup = 'questions' %}
{% set pageTitle =  '@Model.PageTitle' %}
{% set versionNumber = '' %}
{% set sessionId= '@Model.SessionId' %}
{% set traitCode= '@Model.TraitCode' %}

{% extends "_base.njk" %}

{% block pre %}
@using Dfc.DiscoverSkillsAndCareers.Models
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.QuestionViewModel;
@{
    ViewData["Title"] = "Question";
    Layout = null;
}
{% endblock %}

{% block tagging %}
    window.dataLayer.push({
        page: {
            pageInfo: {
                questionID: '@Model.QuestionId',
                questionNumber: '@Model.QuestionNumber',
                questionText: '@Model.QuestionText.Substring(Math.Max(0, Model.QuestionText.Length - 40))'
            }
        }
    })
{% endblock %}

{% block main %}

<main id="content" role="main">


    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        @if (Model.QuestionNumber == 1)
        {
            <div class="app-breadcrumb-panel">
                <a href="@("/results/" + Model.AssessmentType)" class="govuk-back-link">Back to results</a>
                </div>
        }
        else
        {
            <div class="app-breadcrumb-panel">
                <a href="@("/q/" + Model.AssessmentType + "/" + (Model.QuestionNumber - 1).ToString("D2"))" class="govuk-back-link">Back to previous question</a>
            </div>
        }

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <form action="@Model.FormRoute" method="post">

            <input type="hidden" name="sessionId" value="@Model.SessionId" />
            <input type="hidden" name="questionId" value="@Model.QuestionId" />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    @if (!string.IsNullOrEmpty(Model.ErrorMessage)) {

                        <div class="govuk-grid-row app-error">
                            <div class="govuk-grid-column-two-thirds-from-desktop">
                                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                                        There is a problem
                                    </h2>
                                    <div class="govuk-error-summary__body">
                                        <ul class="govuk-list govuk-error-summary__list">
                                            <li>
                                                <a href="#question">@Model.ErrorMessage</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class='govuk-form-group @(!string.IsNullOrEmpty(Model.ErrorMessage) ?  "govuk-form-group--error" : "")'>

                        <fieldset class="govuk-fieldset app-question app-question--long">

                            <legend class="visually-hidden">@Model.QuestionText</legend>

                            <div class="govuk-fieldset__legend--l app-question__question">
                                <h1 class="govuk-fieldset__heading" aria-hidden="true">
                                    @Model.QuestionText
                                </h1>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.ErrorMessage)) {
                                <span id="changed-name-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
                                </span>
                            }

                            <div class="app-question__answer govuk-radios govuk-radios--inline" id="question">

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" 
                                           id="selected_answer-1" 
                                           name="selected_answer" 
                                           type="radio" 
                                           @(Model.RecordedAnswer == AnswerOption.Yes ? "checked" : "")
                                           value="Yes">
                                    <label class="govuk-label govuk-radios__label" for="selected_answer-1">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" 
                                           id="selected_answer-2" 
                                           name="selected_answer"
                                           type="radio" 
                                           @(Model.RecordedAnswer == AnswerOption.No ? "checked" : "")
                                           value="No">
                                    <label class="govuk-label govuk-radios__label" for="selected_answer-2">
                                        No
                                    </label>
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <div class="app-controls app-controls--left">

                        {{ govukButton({
                        text: "Next",
                        classes: "app-button btn-next-question",
                        type: "submit",
                        attributes: {
                        "gov-analytics-data": pageName + " | click | button | Submit"
                        }
                        }) }}

                    </div>

                    {% set savepanelClass = 'alt-mobile' %}
                    {% include "_savepanel.njk" %}

                </div>

                <div class="govuk-grid-column-one-third-from-desktop">
                    {% set savepanelClass = 'alt' %}
                    {% include "_savepanel.njk" %}
                </div>

            </div>

        </form>
    </div>
</main>

{% endblock %}
