{% set pageName = 'questions' %}
{% set pageGroup = 'questions' %}
{% set pageTitle = '@Model.Title @Model.QuestionNumber' %}
{% set versionNumber = '' %}
{% set sessionId= '@Model.SessionId' %}
{% set traitCode= '@Model.TraitCode' %}

{% extends "_base.njk" %}

{% block pre %}
  @model Dfc.DiscoverSkillsAndCareers.WebApp.Models.QuestionViewModel;
  @{
      ViewData["Title"] = "Question";
      Layout = null;
  }
{% endblock %}

{% block tagging %}
    window.dataLayer.push({
        page: {
            pageInfo: {
                questionID: '@Model.QuestionId',
                questionNumber: '@Model.QuestionNumber',
                questionText: '@Model.QuestionText.Substring(Math.Max(0, Model.QuestionText.Length - 40))'
            }
        }
    })
{% endblock %}

{% block main %}

<div class="govuk-width-container app-site-width-container">

    {% include "_phasebanner.njk" %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "/"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}

</div>

<main id="content" role="main">
    <div class="govuk-main-wrapper govuk-width-container">
        <form action="@Model.FormRoute" method="post">

            <input type="hidden" name="sessionId" value="@Model.SessionId" />
            <input type="hidden" name="questionId" value="@Model.QuestionId" />
            <input type="hidden" name="questionNumber" value="@Model.QuestionNumber" />
            <input type="hidden" name="questionText" value="@Model.QuestionText" />
            <input type="hidden" name="traitCode" value="@Model.TraitCode" />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <div class="ncs-progress">
                        <span class="ncs-progress__count"><b class="govuk-!-font-size-36">@Model.Percentage%</b> <b class="visually-hidden">Complete</b></span>
                        <div class="ncs-progress__bar"><span style="width: @Model.Percentage%"></span></div>
                    </div>

                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {% set savepanelClass = 'alt' %}
                    {% include "_savepanel.njk" %}
                </div>
            </div>

            <span class="govuk-error-message">@Model.ErrorMessage</span>

            <fieldset class="govuk-fieldset app-question">

                <legend class="visually-hidden">@Model.QuestionText</legend>

                <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question">
                    <h1 class="govuk-fieldset__heading" aria-hidden="true">
                        @Model.QuestionText
                    </h1>
                </div>

                <div class="app-question__answer govuk-radios govuk-radios--inline">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="selected_answer-1">
                            @Model.Yes
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="selected_answer-2">
                            @Model.No
                        </label>
                    </div>

                </div>

            </fieldset>

            <div class="app-controls">

                {{ govukButton({
                text: "@Model.NextButtonText",
                classes: "app-button",
                type: "submit",
                attributes: {
                "gov-analytics-data": pageName + " | click | button | Submit"
                }
                }) }}

            </div>

            {% set savepanelClass = 'alt-mobile' %}
            {% include "_savepanel.njk" %}

        </form>
    </div>
</main>

{% endblock %}
