{% set pageName = 'questions' %}
{% set pageGroup = '' %}
{% set pageTitle = @$"Statement ${Model.QuestionNumber}" %}
{% set sessionId= '@Model.SessionId' %}
{% set questionId= '@Model.QuestionId' %}
{% set questionNumber= '@Model.QuestionNumber' %}
{% set questionText= '@Model.QuestionText' %}
{% set traitCode= '@Model.TraitCode' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.QuestionViewModel;
@{
    ViewData["Title"] = "Question";
    Layout = null;
}
{% endblock %}

{% block main %}

  <div class="govuk-width-container app-site-width-container">
    
    {% include "_phasebanner.njk" %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home: Discover your skills and careers",
          href: "/"
        },
        {
          text: "See job categories"
        }
      ]
    }) }}      
    
  </div>

  <main id="content" role="main">
    <div class="govuk-main-wrapper govuk-width-container">
      <form action="[form_route]" method="post">
      
        <input type="hidden" name="sessionId" value="@Model.SessionId" />
        <input type="hidden" name="questionId" value="@Model.QuestionId" />
        <input type="hidden" name="questionNumber" value="@Model.QuestionNumber" />
        <input type="hidden" name="questionText" value="@Model.QuestionText" />
        <input type="hidden" name="traitCode" value="@Model.TraitCode" />

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">

            <div class="ncs-progress">
              <span class="ncs-progress__count"><b class="govuk-!-font-size-36">@Model.Percentage%</b> <b class="visually-hidden">Complete</b></span>
              <div class="ncs-progress__bar"><span style=@($"width: {Model.Percentage}%")></span></div>
            </div>
          
          </div>
          <div class="govuk-grid-column-one-third-from-desktop">
            {% set savepanelClass = 'alt' %}
            {% include "_savepanel.njk" %}
          </div>
        </div>

        <span class="govuk-error-message">@Model.ErrorMessage</span>

        <fieldset class="govuk-fieldset app-question">
     
          <legend class="visually-hidden">@Model.QuestionText</legend>

          <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question">
            <h1 class="govuk-fieldset__heading" aria-hidden="true">
              @Model.QuestionText
            </h1>
          </div>

          <div class="app-question__answer govuk-radios govuk-radios--inline">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" value="StronglyAgree">
              <label class="govuk-label govuk-radios__label" for="selected_answer-1">
                Strongly agree
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" value="Agree">
              <label class="govuk-label govuk-radios__label" for="selected_answer-2">
                Agree
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="selected_answer-3" name="selected_answer" type="radio" value="Disagree">
              <label class="govuk-label govuk-radios__label" for="selected_answer-3">
                Disagree
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="selected_answer-4" name="selected_answer" type="radio" value="StronglyDisagree">
              <label class="govuk-label govuk-radios__label" for="selected_answer-4">
                Strongly disagree
              </label>
            </div>

          </div>
            
        </fieldset>
        
        <div class="app-controls">
                
          <input id="selected_answer-5" name="selected_answer" type="radio" value="Neutral" class="visually-hidden">
          <label class="govuk-label govuk-radios__label app-button--outline" for="selected_answer-5">
              This doesn&rsquor;t apply to me
          </label>

          {{ govukButton({
            text: "@Model.ButtonText",
            classes: "app-button",
            type: "submit",
            attributes: {
            "gov-analytics-data": pageName + " | click | button | Submit"
            }
          }) }}
          
        </div>

        {% set savepanelClass = 'alt-mobile' %}
        {% include "_savepanel.njk" %}

      </form>
    </div>
  </main> 

{% endblock %}