{% set pageName = 'questions' %}
{% set pageGroup = 'questions' %}
{% set pageTitle = '@Model.Title @Model.QuestionNumber' %}
{% set versionNumber = '' %}
{% set sessionId= '@Model.SessionId' %}
{% set traitCode= '@Model.TraitCode' %}

{% extends "_base.njk" %}

{% block pre %}
@using Dfc.DiscoverSkillsAndCareers.Models
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.QuestionViewModel;
@{
    ViewData["Title"] = "Question";
    Layout = null;
}
{% endblock %}

{% block tagging %}
    window.dataLayer.push({
        page: {
            pageInfo: {
                questionID: '@Model.QuestionId',
                questionNumber: '@Model.QuestionNumber',
                questionText: '@Model.QuestionText.Substring(Math.Max(0, Model.QuestionText.Length - 40))'
            }
        }
})
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        @if (Model.QuestionNumber == 1)
        {
            <div class="app-breadcrumb-panel">
                <a href="/" class="govuk-back-link">Back to start</a>
                </div>
        }
        else
        {
            <div class="app-breadcrumb-panel">
                <a href="@("/q/" + Model.AssessmentType + "/" + (Model.QuestionNumber - 1).ToString("D2"))" class="govuk-back-link">Back to previous statement</a>
            </div>
        }

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <form action="@Model.FormRoute" method="post">

            <input type="hidden" name="sessionId" value="@Model.SessionId" />
            <input type="hidden" name="questionId" value="@Model.QuestionId" />

            <div class="govuk-grid-row app-question-progress">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <div class="ncs-progress">
                        <span class="ncs-progress__count govuk-body"><b class="govuk-!-font-size-36">@Model.Percentage%</b> <b class="visually-hidden">Complete</b></span>
                        <div class="ncs-progress__bar"><span style="width: @Model.Percentage%"></span></div>
                    </div>

                </div>
                <div class="govuk-grid-column-one-third-from-desktop">
                    {% set savepanelClass = 'alt' %}
                    {% include "_savepanel.njk" %}
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {

                <div class="govuk-grid-row app-error">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <a href="#question">@Model.ErrorMessage</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="govuk-form-group @(!string.IsNullOrEmpty(Model.ErrorMessage) ? "govuk-form-group--error" : string.Empty)">
                <div class="govuk-fieldset app-question app-question--short" id="question" role="group" aria-labelledby="question-heading">

                    <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question">
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div id="national-insurance-number-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
                            </div>
                        }
                        <h1 class="govuk-fieldset__heading" id="question-heading">
                            @Model.QuestionText
                        </h1>
                    </div>

                    <div class="app-question__answer govuk-radios govuk-radios--inline">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    id="selected_answer-1"
                                    name="selected_answer"
                                    type="radio"
                                    @(Model.RecordedAnswer == AnswerOption.StronglyAgree ? "checked" : "")
                                    value="StronglyAgree">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-1">
                                @Model.StronglyAgreeText
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    id="selected_answer-2"
                                    name="selected_answer"
                                    type="radio"
                                    @(Model.RecordedAnswer == AnswerOption.Agree ? "checked" : "")
                                    value="Agree">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-2">
                                @Model.AgreeText
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    id="selected_answer-5"
                                    name="selected_answer"
                                    type="radio"
                                    @(Model.RecordedAnswer == AnswerOption.Neutral ? "checked" : "")
                                    value="Neutral">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-5">
                                @Model.NeutralText
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    id="selected_answer-3"
                                    name="selected_answer"
                                    type="radio"
                                    @(Model.RecordedAnswer == AnswerOption.Disagree ? "checked" : "")
                                    value="Disagree">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-3">
                                @Model.DisagreeText
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                    id="selected_answer-4"
                                    name="selected_answer"
                                    type="radio" @(Model.RecordedAnswer == AnswerOption.StronglyDisagree ? "checked" : "")
                                    value="StronglyDisagree">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-4">
                                @Model.StronglyDisagreeText
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="app-controls">

                {{ govukButton({
                    text: "@Model.NextButtonText",
                    classes: "app-button btn-next-question",
                    type: "submit",
                    attributes: {
                    "gov-analytics-data": pageName + " | click | button | Submit"
                    }
                }) }}

            </div>

            {% set savepanelClass = 'alt-mobile' %}
            {% include "_savepanel.njk" %}

        </form>
    </div>
</main>

{% endblock %}
