{% set pageName = 'home' %}
{% set pageTitle = '@Model.Title' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
  @model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
  @{
      ViewData["Title"] = "Home Page";
      Layout = null;
  }
{% endblock %}

{% block main %}

  <div class="app-masthead">
    <div class="govuk-width-container">

      {% include "_phasebanner.njk" %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home: Discover your skills and careers"
          }
        ]
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl app-masthead__title">@Model.Title</h1>
          <p class="govuk-body-l">@Model.Subheading</p>
        </div>
      </div>

    </div>
  </div>

  <main id="content" role="main">

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-7">

        <div class="govuk-grid-column-two-thirds">

          <div class="app-assessment-picker">
            <div class="app-assessment-picker__title">
              <h2 class="govuk-heading-l">@Model.Assessment1Title</h2>
            </div>
            <div class="app-assessment-picker__body">
              <div class="govuk-inset-text">
                @Model.Assessment1Subtitle
              </div>
              <a href="/start/" class="govuk-body govuk-!-font-size-19 govuk-link govuk-link--no-visited-state" gov-analytics-data="{{pageName}} | click | button | Start assessment">Start assessment</a>
            </div>
          </div>

          <div class="app-assessment-picker app-assessment-picker--inactive" aria-disabled="true">
            <div class="app-assessment-picker__title">
              <h2 class="govuk-heading-l">@Model.Assessment2Title</h2>
              <strong class="govuk-tag govuk-tag--coming-soon">Coming soon</strong>
            </div>
            <div class="app-assessment-picker__body">
              <div class="govuk-inset-text">
                @Model.Assessment2Subtitle
              </div>
            </div>
          </div>

        </div>

        <div class="govuk-grid-column-one-third">
          {% include "_resumepanel.njk" %}
        </div>

      </div>
    </div>

  </main>

{% endblock %}
