{% set pageName = 'home' %}
{% set pageTitle = '@Model.Title' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
  @model Dfc.DiscoverSkillsAndCareers.WebApp.Models.IndexViewModel;
  @{
      ViewData["Title"] = Model.Title;
      Layout = null;
  }
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="app-masthead">
      <div class="govuk-width-container">

        {% include "_phasebanner.njk" %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl app-masthead__title">@Model.Headline</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-7">

          <div class="govuk-grid-column-two-thirds">

              <p class="govuk-body">@Model.TextBlock1</p>

              <p class="govuk-body">@Model.TextBlock2</p>

              <div class="govuk-inset-text">
                  @Model.TextHighlight
              </div>

              <p class="govuk-body">@Model.TextBlock3</p>

              {{ govukButton({
                  text: "Start assessment (unavailable)",
                  classes: "govuk-button--start",
                  attributes: {
                    "gov-analytics-data": pageName + " | click | button | Start assessment",
                    disabled: true
                  }
                }) 
              }}
          </div>

        <div class="govuk-grid-column-one-third">
          {% include "_resumepanel.njk" %}
          {% include "_advisorpanel.njk" %}
        </div>

      </div>
    </div>

  </main>

{% endblock %}
