{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = @Model.Title;
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        {% include "_breadcrumbpanel.njk" %}

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @if (!String.IsNullOrEmpty(@Model.ErrorMessage)) {
                    <div>
                        {{ govukErrorSummary({
                        "titleText": "There is a problem",
                        "errorList": [
                            {
                            "text": "@Model.ErrorMessage",
                            "href": "#mobileNumber"
                            }
                        ]
                        }) }}
                    </div>
                }

                <h1 class="govuk-heading-l">@Model.ReferenceYourNumberText</h1>

                <div class="app-your-reference govuk-body">
                    <p>
                        <span class="app-your-reference__code govuk-heading-xl">@Model.Code</span>
                    </p>
                    <div class="app-your-reference__meta govuk-grid-row">
                        <p class="govuk-grid-column-one-third govuk-body-s">@Model.SessionDate</p>
                        <p class="govuk-grid-column-two-thirds govuk-body-s"></p>
                    </div>
                </div>

                <div class="govuk-body">
                    <h2 class="govuk-heading-m">@Model.WhatToDoHeading</h2>
                    <p>@Model.ReferenceInstructionsText</p>
                    <ul>
                        <li>@Model.ReferenceInstruction1Text</li>
                        <li>@Model.ReferenceInstruction2Text</li>
                    </ul>
                </div>

                <h2 class="govuk-heading-m">Send in a text message</h2>

                <form action="/save-my-progress/reference" method="post" class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        @if (!Model.HasError) {

                        <div>
                            {{ govukInput({
                            label: {
                            text: "@Model.SmsInputLabel"
                            },
                            classes: "",
                            id: "mobileNumber",
                            name: "mobileNumber",
                            required: "true"
                            }) }}
                        </div>
                        }
                        else {
                        <div>
                            {{ govukInput({
                            label: {
                            text: "@Model.SmsInputLabel"
                            },
                            classes: "",
                            id: "mobileNumber",
                            name: "mobileNumber",
                            required: "true",
                            errorMessage: {
                            text: "@Model.ErrorMessage"
                            }
                            }) }}
                        </div>
                        }
                        {{ govukButton({
                                text: "@Model.SmsInputButtonText"
                        }) }}
                    </div>
                </form>

                <p><a href="/results" class="">@Model.ReferenceReturnText</a></p>

            </div>
        </div>
    </div>
</main>

{% endblock %}
