{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}
{% set pageTitle = 'Save your progress' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = "Save progress";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

  <div class="govuk-width-container app-site-width-container">

      {% include "_breadcrumbpanel.njk" %}

  </div>

    <div class="govuk-main-wrapper govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl visually-hidden">Save your progress</h1>

          <form action="/save-my-progress" method="post">

            @if (!String.IsNullOrEmpty(@Model.ErrorMessage)) {
                  <div>
                      {{ govukErrorSummary({
                      "titleText": "There is a problem",
                      "errorList": [
                          {
                          "text": "@Model.ErrorMessage",
                          "href": "#SelectedOption-error"
                          }
                      ]
                      }) }}
                  </div>
              }

              @if (String.IsNullOrEmpty(@Model.ErrorMessage)) {
                <div>
                  {{ govukRadios({
                  idPrefix: "SelectedOption",
                  name: "SelectedOption",
                  fieldset: {
                    legend: {
                      text: "How would you like to return to your assessment?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  items: [
                    {
                      value: "email",
                      text: "Send me an email with a link"
                    },
                    {
                      value: "reference",
                      text: "Get a reference"
                    }
                  ]
                }) }}
                </div>
              } else {
                <div>
                  {{ govukRadios({
                  idPrefix: "SelectedOption",
                  name: "SelectedOption",
                  errorMessage: {
                      text: "@Model.ErrorMessage"
                  },
                  fieldset: {
                    legend: {
                      text: "How would you like to return to your assessment?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  items: [
                    {
                      value: "email",
                      text: "Send me an email with a link"
                    },
                    {
                      value: "reference",
                      text: "Get a reference"
                    }
                  ]
                }) }}
                </div>
              }

              {{ govukButton({
              text: "Continue"
            }) }}

          </form>

          <div class="govuk-body">

            <p><a href="@Model.BackLink">Return to assessment</a></p>

          </div>

        </div>
      </div>
    </div>
  </main>

{% endblock %}
