{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = @Model.PageTitle;
    Layout = null;
}
{% endblock %}

{% block main %}

<div class="govuk-width-container app-site-width-container">

    {% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "@Model.BackLink"
      }) }}
    {% endblock %}

</div>

  <main id="content" role="main">
    <div class="govuk-main-wrapper govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl visually-hidden">@Model.SaveProgressHeader</h1>

          <form action="/save-my-progress" method="post">

              {{ govukRadios({
              idPrefix: "SelectedOption",
              name: "SelectedOption",
              fieldset: {
                legend: {
                  text: "@Model.SaveProgressLabel",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                  value: "email",
                  text: "@Model.SaveProgressOptionEmail"
                },
                {
                  value: "reference",
                  text: "@Model.SaveProgressOptionReference"
                }
              ]
            }) }}

              {{ govukButton({
              text: "Next"
            }) }}

          </form>

          <div class="govuk-body">

            <p><a href="@Model.BackLink">@Model.SaveProgressReturnText</a></p>

          </div>

        </div>
      </div>
    </div>
  </main>

{% endblock %}
