{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = @Model.Title;
    Layout = null;
}
{% endblock %}

{% block main %}

<main id="content" role="main">

    <div class="govuk-width-container app-site-width-container">

        {% include "_phasebanner.njk" %}

        {% include "_breadcrumbpanel.njk" %}

    </div>

    <div class="govuk-main-wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-body">

                    <h1 class="govuk-heading-xl">@Model.SmsSentHeader</h1>

                    <p>@Model.SmsSentText @Model.SentTo</p>

                    <p>@Model.ReturnText</p>

                    <a href="/" class="govuk-button">Return home</a>

                    <p><a href="/results">@Model.ContinueButtonText</a></p>

                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
