{% set pageName = 'resume-code' %}
{% set pageGroup = '' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.SaveProgressViewModel;
@{
    ViewData["Title"] = @Model.PageTitle;
    Layout = null;
}
{% endblock %}

{% block main %}

<div class="govuk-width-container app-site-width-container">

    {% include "_phasebanner.njk" %}

</div>

<main id="content" role="main">
    <div class="govuk-main-wrapper govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-body">

                    <h1 class="govuk-heading-xl">@Model.SmsSentHeader</h1>

                    <p>@Model.SmsSentText @Model.SentTo</p>

                    <p>@Model.ReturnText</p>

                    <a href="/results" class="govuk-button">@Model.ContinueButtonText</a>

                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
