{% set pageName = 'results' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.ResultsViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="govuk-width-container">
      {% include "_phasebanner.njk" %}
    </div>

    <div class="app-masthead">
      <div class="govuk-width-container">

        {% include "_breadcrumbpanel.njk" %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl app-masthead__title">@Model.Headline</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="app-grey">
      <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds app-intro">

            <h2 class="govuk-heading-l">@Model.TraitTitle</h2>

            <div class="govuk-text">
              <ul class="govuk-list govuk-list--bullet">
                @foreach (var trait in Model.Traits)
                {
                    <li>@trait</li>
                }
              </ul>
              <p>@Model.TraitSummaryText</p>
            </div>

          </div>

          <div class="govuk-grid-column-one-third">
            {% include "_printpanel.njk" %}
            {% include "_advisorpanel.njk" %}
          </div>

        </div>
      </div>
    </div>

    <div class="govuk-main-wrapper govuk-width-container @(Model.AssessmentType == "short" ? string.Empty : "govuk-!-padding-top-7")">

      <div class="govuk-body">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include "_sendresults.njk" %}
          </div>
        </div>

        <div class="app-results">

          <h2 class="govuk-heading-l">@Model.GetJobCategoryForNumberText(Model.JobFamilies.Length) that might suit you</h2>

          <ol class="govuk-list govuk-!-margin-bottom-2" id="app-results-list">
            @foreach (var jobFamily in Model.JobFamilies)
            {
              <li class="app-results__item" data-job-family-code="@jobFamily.JobFamilyCode">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-m"><a href='@(Model.ExploreCareersBaseUrl + "/job-categories/" + jobFamily.Url)' role="button" draggable="false" class="">@jobFamily.JobFamilyName</a></h3>
                        <p>@jobFamily.JobFamilyText</p>
                        @if (Model.UseFilteringQuestions)
                        {
                            <p class="app-noprint">@Model.ResultsAnswerMoreText?.Replace("[jobcategory]", jobFamily.JobFamilyName)</p>
                            if (jobFamily.FilterAssessment != null && jobFamily.FilterAssessment.SuggestedJobProfiles.Count > 0)
                            {
                                <a href="/results/@jobFamily.FilterAssessment.JobFamilyNameUrlSafe" role="button" draggable="false" class="govuk-button govuk-button app-button">@Model.ViewResultsButtonText</a>
                            }
                            else
                            {
                              <a href="/results/filtered/@jobFamily.JobFamilyNameUrlSafe" role="button" draggable="false" class="govuk-button app-button">
                                @if (jobFamily.TotalQuestions == 1)
                                {
                                  @Model.StartFilterQuestionsButtonText?.Replace("[questions]", jobFamily.TotalQuestions.ToString())
                                }
                                else
                                {
                                  @(Model.StartFilterQuestionsButtonText?.Replace("[questions]", jobFamily.TotalQuestions.ToString()) + "s")
                                }
                                <span class="visually-hidden"> for @jobFamily.JobFamilyName</span>
                              </a>
                            }
                        }
                        <hr>
                    </div>
                </div>
              </li>
            }
          </ol>

        </div>

        <div class="app-back-to-top" data-module="app-back-to-top">
          <a class="govuk-link govuk-link--no-visited-state" href="#top">
            <svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>Back to top
          </a>
        </div>

      </div>

    </div>

  </main>

{% endblock %}
