{% set pageName = 'results-long' %}
{% set pageGroup = '' %}
{% set pageTitle = '@Model.Title' %}

{% extends "_base.njk" %}

{% block pre %}
@model Dfc.DiscoverSkillsAndCareers.WebApp.Models.ResultsViewModel;
@{
    ViewData["Title"] = "@Model.Title";
    Layout = null;
}
{% endblock %}

{% block main %}

  <main id="content" role="main">

    <div class="app-masthead">
      <div class="govuk-width-container">

        {% include "_phasebanner.njk" %}

        {{ govukBackLink({
          text: "Back to the start",
          href: "/"
        }) }}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl app-masthead__title">@Model.Headline</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="app-grey">
      <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds app-intro">

            <h2 class="govuk-heading-l">@Model.WhatYouToldUsTitle</h2>

            <div class="govuk-text">
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var trait in Model.Traits)
                    {
                        <li>@trait</li>
                    }
                </ul>
                @if (Model.WhatYouToldUs != null) {
                <ul class="govuk-list">
                    @foreach (var whatYouToldUs in Model.WhatYouToldUs)
                    {
                        <li>@whatYouToldUs</li>
                    }
                </ul>
                }
            </div>

          </div>


          <div class="govuk-grid-column-one-third">
              {% include "_printpanel.njk" %}
              {% include "_advisorpanel.njk" %}
          </div>

        </div>
      </div>
    </div>

    <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds app-intro">
              {% include "_sendresults.njk" %}
          </div>
      </div>

      <h2 class="govuk-heading-l">@Model.JobProfilesTitle</h2>

      <div class="app-results">
        @foreach (var jobCategory in Model.JobFamilies)
        {
          <div class="app-results__item" data-job-family-code="@jobCategory.JobFamilyCode">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (@Model.JobProfiles.Where(x => x.JobCategory == jobCategory.JobFamilyName).ToList().Count > 0)
                    {
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href='@(Model.ExploreCareersBaseUrl + "/job-categories/" + jobCategory.Url)' role="button" draggable="false" class="">@jobCategory.JobFamilyName</a></h2>
                        <p class="text-light">
                            <span>@Model.JobProfiles.Count(x => x.JobCategory == jobCategory.JobFamilyName).ToString()</span>

                            @if (@Model.JobProfiles.Where(x => x.JobCategory == jobCategory.JobFamilyName).ToList().Count > 1)
                            {
                                <span> @Model.JobProfileTextPlural </span>
                            }
                            else
                            {
                                <span> @Model.JobProfileTextSingle </span>
                            }
                            @Model.ThatMightSuitText
                        </p>
                    }
                    else
                    {
                        <h2 class="govuk-heading-m"><a href='@(Model.ExploreCareersBaseUrl + "/job-categories/" + jobCategory.Url)' role="button" draggable="false" class="">@jobCategory.JobFamilyName</a></h2>
                    }
                    <p>@jobCategory.JobFamilyText</p>
                    @if (@Model.JobProfiles.Where(x => x.JobCategory == jobCategory.JobFamilyName).ToList().Count == 0)
                    {
                        <p class="app-noprint">@Model.ResultsAnswerMoreText?.Replace("[jobcategory]", jobCategory.JobFamilyName)</p>
                      <a href="/results/filtered/@jobCategory.JobFamilyName.ToLower().Replace(" ", "-")" role="button" draggable="false" class="govuk-button app-button">
                        @if (jobCategory.TotalQuestions == 1)
                        {
                          @Model.StartFilterQuestionsButtonText?.Replace("[questions]", jobCategory.TotalQuestions.ToString())
                        }
                        else
                        {
                          @(Model.StartFilterQuestionsButtonText?.Replace("[questions]", jobCategory.TotalQuestions.ToString()) + "s")
                        }
                      </a>
                    }
                </div>
            </div>
            @if (@Model.JobProfiles.Where(x => x.JobCategory == jobCategory.JobFamilyName).ToList().Count > 0)
            {
              <ul class="app-long-results govuk-list govuk-grid-row" id="app-results-list--long">
                @foreach (var profile in Model.JobProfiles.Where(x => x.JobCategory == jobCategory.JobFamilyName).ToList())
                {
                  <li class="">
                    <div class="app-long-results__item">
                      <div class="result-description">
                        <h3 class="govuk-heading-s"><a href='@(Model.ExploreCareersBaseUrl + "/job-profiles/" + profile.UrlName)'>@profile.Title</a></h3>
                        <p>@profile.Overview</p>
                      </div>
                      <div class="result-detail">
                        <h4 class="govuk-heading-s govuk-heading-s--alt">@Model.AverageSalaryText</h4>
                        <div class="embedded-fa-icon">
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pound-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-pound-sign fa-w-10 fa-2x"><path fill="currentColor" d="M308 352h-45.495c-6.627 0-12 5.373-12 12v50.848H128V288h84c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-84v-63.556c0-32.266 24.562-57.086 61.792-57.086 23.658 0 45.878 11.505 57.652 18.849 5.151 3.213 11.888 2.051 15.688-2.685l28.493-35.513c4.233-5.276 3.279-13.005-2.119-17.081C273.124 54.56 236.576 32 187.931 32 106.026 32 48 84.742 48 157.961V224H20c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h28v128H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h296c6.627 0 12-5.373 12-12V364c0-6.627-5.373-12-12-12z" class=""></path></svg>
                        </div>
                        <div class="result-meta">
                          @if (profile.IsVariable) {
                            <div>
                              <p class="salary-variable">
                                Variable
                              </p>
                              <div class="range-bar range-bar--variable"><hr></div>
                            </div>
                          } else {
                            <div>
                              <p class="salary-min">£@profile.SalaryStarter.ToString("N0")<span class="hidden-screen">&nbsp;(starter)&nbsp;</span></p>
                              <p class="salary-max"><span class="hidden-screen">&nbsp;up to&nbsp;</span>£@profile.SalaryExperienced.ToString("N0")<span class="hidden-screen">&nbsp;(@Model.ExperiencedText?.ToLower())</span></p>
                              <div class="range-bar"><hr></div>

                              <p class="level-min">@Model.StarterText</p>
                              <p class="level-max">@Model.ExperiencedText</p>
                            </div>
                          }
                        </div>
                      </div>
                      <div class="result-detail">
                        <h4 class="govuk-heading-s govuk-heading-s--alt">@Model.TypicalHoursText</h4>
                        <div class="embedded-fa-icon">
                          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-clock fa-w-16 fa-2x"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z" class=""></path></svg>
                        </div>
                        <div class="result-meta">
                          <p>@profile.TypicalHours <span class="small">a week</span></p>
                        </div>
                      </div>
                      <div class="result-detail">
                        <h4 class="govuk-heading-s govuk-heading-s--alt">@Model.YouCouldWorkText</h4>
                        <div class="embedded-fa-icon">
                          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-calendar-alt fa-w-14 fa-2x"><path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" class=""></path></svg>
                        </div>
                        <div class="result-meta">
                          <p>@profile.ShiftPattern</p>
                        </div>
                      </div>
                    </div>
                  </li>
                }
              </ul>
            }

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <p class="show-more"> </p>
                <hr>
              </div>
            </div>

        </div>
        }
      </div>

    </div>

</main>

{% endblock %}
